@model EntityLayer.Entities.Urun
@{
    ViewBag.Title = "Create";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "btn btn-danger" })

                <div class="form-group">
                    <label>Ad</label>
                    <input type="text" class="form-control" name="Ad" />
                    @Html.ValidationMessageFor(x => x.Ad, "", new { @style = "color:red" })
                </div>
                <br />
                <div class="form-group">
                    <label>Açıklama</label>
                    <input type="text" class="form-control" name="Aciklama" />
                    @Html.ValidationMessageFor(x => x.Aciklama, "", new { @style = "color:red" })
                </div>
                <br />
                <div class="form-group">
                    <label>Resim</label>
                    <input type="file" class="form-control" name="File" />
                    @Html.ValidationMessageFor(x => x.Image, "", new { @style = "color:red" })
                </div>
                <br />
                <div class="form-group">
                    <label>Fiyat</label>
                    <input type="text" class="form-control" name="Fiyat" />
                    @Html.ValidationMessageFor(x => x.Fiyat, "", new { @style = "color:red" })
                </div>
                <br />
                <div class="form-group">
                    <label>Stok</label>
                    <input type="text" class="form-control" name="Stok" />
                    @Html.ValidationMessageFor(x => x.Stok, "", new { @style = "color:red" })
                </div>
                <br />
                <div class="form-group">
                    <label>Popular</label>
                    @Html.EditorFor(x => x.Popular)
                    @Html.ValidationMessageFor(x => x.Popular, "", new { @style = "color:red" })
                </div>
                <br />
                <div class="form-group">
                    <label>Onay</label>
                    @Html.EditorFor(x => x.OnaylıMı)
                    @Html.ValidationMessageFor(x => x.OnaylıMı, "", new { @style = "color:red" })
                </div>
                <br />
                <div class="form-group">
                    <label>Kategori</label>
                    @Html.DropDownListFor(x=>x.KategoriId,(List<SelectListItem>)ViewBag.ktgr,new {@class="form-control" })
                    @Html.ValidationMessageFor(x => x.KategoriId, "", new { @style = "color:red" })
                </div>
                <br />
                <button class="btn btn-primary" type="submit">Ekle </button>
                <a href="/AdminUrun/Index" class="btn btn-primary">Ürün Listesi</a>
            </form>
        </div>

    </div>

</div>

